<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-if="$ctrl.group.selected"> <!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > wsj.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > thedailybeast.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > vice.com/en_us </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theverge.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > breitbart.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > vox.com/ </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > fivethirtyeight.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> talkingpointsmemo.com/ </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> nytimes.com/ </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > slate.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > mic.com/ </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > nymag.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > businessinsider.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> recode.net/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > bloomberg.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > vanityfair.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > economist.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > wired.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > huffingtonpost.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > newyorker.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > washingtonpost.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > washingtontimes.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> avclub.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> foxnews.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > bostonglobe.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > nydailynews.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > rollingstone.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > fusion.net </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> gizmodo.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> qz.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theguardian.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> fortune.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> thedodo.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > bgr.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > boingboing.net </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> upworthy.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> theweek.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> newsweek.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > propublica.org </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > abcnews.go.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > medium.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > lifehacker.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > time.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> vulture.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > nymag.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > inc.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > elitedaily.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> latimes.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> mashable.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> cbsnews.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> nbcnews.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > npr.org </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > msnbc.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> observer.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> nationalgeographic.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > texasmonthly.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > lamag.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > smithsonianmag.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > foreignpolicy.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > clickhole.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > thenation.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > newrepublic.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > salon.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > weeklystandard.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > chicagotribune.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > fastcompany.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > news.vice.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > gq.com/?us_site=y </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theringer.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > bleacherreport.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > deadspin.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > refinery29.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > arstechnica.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > daringfireball.net </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> 9to5mac.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > eater.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> polygon.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> jalopnik.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > stratechery.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> sbnation.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > radaronline.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > tmz.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> thefader.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > espn.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > popsci.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> politico.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> lennyletter.com/style/ </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> themarshallproject.org </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> harpers.org </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > mtv.com/news/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > harpersbazaar.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> jezebel.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > aeon.co </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> esquire.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theintercept.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > luckypeach.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > backchannel.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > hbr.org </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > entrepreneur.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > cinemablend.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > sfchronicle.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > greatbigstory.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > cnbc.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> ew.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > thefrisky.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> people.com/ </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> inverse.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > cbr.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theouthousers.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > bustle.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> complex.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > pitchfork.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> univision.com/univision-news </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> hazlitt.net </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > racked.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > curbed.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > chicago.suntimes.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > miamiherald.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > insideedition.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> xobenzo.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> providr.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > aplus.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > allwomenstalk.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theladbible.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > waitbutwhy.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> theatlantic.com/world/ </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> consumerreports.org/cro/index.htm </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > motherjones.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > cnn.com </span></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> ibtimes.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> buzzfeed.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > theoutline.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > littlethings.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> dailydot.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > thinkprogress.org </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > dailywire.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://conservativetribune.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.theroot.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.visualcapitalist.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.allthatsfab.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > https://www.ted.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://medium.com/the-mission </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://hackernoon.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.thestreet.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.valuewalk.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://washingtonmonthly.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.texastribune.org </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.nationalaffairs.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://democracyjournal.org </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.lawfareblog.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > https://khn.org </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.statnews.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.insidehighered.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > http://nautil.us </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.newscientist.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.quantamagazine.org </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://newsnetwork.mayoclinic.org </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.citylab.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.sciencealert.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.iflscience.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://wattsupwiththat.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.scientificamerican.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://discovermagazine.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.insidescience.org </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > https://psmag.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > https://earther.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://splinternews.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://io9.gizmodo.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://thetakeout.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > https://kotaku.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://lifehacker.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.comingsoon.net </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://moviepilot.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.theatlantic.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.forbes.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.healthline.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > http://www.elle.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.bestproducts.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.popsugar.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.thecut.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.townandcountrymag.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.bonappetit.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"
                    > https://townhall.com </span></div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://themighty.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://venturebeat.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://thenextweb.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.dwell.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://www.realsimple.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.elledecor.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.indiewire.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://www.nationalreview.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://thefederalist.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> http://thehayride.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!---->
    <sidebar-keyword>
        <div class="sidebar-keyword-single">
            <inline-input>
                <div
                        class="inline-input">
                    <div class="name"> <span
                            class="inline-input-name"> https://themarketmogul.com </span>
                    </div>
                    <div
                            class="form"></div>
                </div>
            </inline-input>
        </div>
    </sidebar-keyword><!----> </div>
</body>
</html>